# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.session/
.session*
news_bot.session-journal

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
junit-xml/
test-results/
tests/*

# News articles JSON
cointelegraph_articles.json

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/
target/

# Pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor specific files
.idea/
.vscode/
*.swp
*.swo
*.swn
*.swp
*.swd

# macOS specific files
.DS_Store

# Jupyter Notebook specific files
.ipynb_checkpoints

# Logs
*.log

# Secret files
.env
.env.*
.env.example

# System files
Thumbs.db
.DS_Store

# Ignore distribution and package files
build/
dist/
*.egg-info/

# Ignore get-pip.py
get-pip.py


# MongoDB local database files (if you store them locally)
dump/
*.bson
*.json
mongod.lock
journal/
local.*
nohup.out